{% extends 'base.html' %}

{% block content %}
  <h1 class="text-2xl font-bold mb-4">{% if tag %}Update Tag{% else %}Create Tag{% endif %}</h1>
  <form method="post" class="bg-white p-4 rounded shadow">
    {% csrf_token %}
    <div class="mb-4">
      <label for="name" class="block font-medium mb-2">Name</label>
      <input type="text" name="name" id="name" class="w-full border border-gray-300 rounded p-2"
             value="{% if tag %}{{ tag.name }}{% endif %}" required>
    </div>
    <button type="submit" class="bg-blue-500 text-black px-4 py-2 rounded">Save</button>
  </form>
{% endblock %}